@import "../colors";
@import "../values";

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: $light-gray;
  padding: 20px;

  .tap-bpm-button {
    height: $height;
    background-color: $dark-gray;
    color: $text;
    font-size: 2em;
    border: none;
    border-radius: 10px;
  }
}
