.preset-selector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  padding: 20px;

  background-color: var(--light-gray);

  & > p {
    margin: 0 0 20px 0;
    color: var(--text);
    font-size: 1.4em;
  }
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    * {
      margin: 0;
    }

    .preset-screen {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--dark-gray);
      border: 6px solid var(--dark-gray-2);
      border-radius: 20px;

      width: 4em;
      height: 4em;

      margin: 0 10px;

      p {
        color: var(--text);

        text-align: center;
        font-size: 2em;
      }
    }

    .icon-button {
      width: 30px;
      height: 30px;
      background-color: var(--dark-gray);
      fill: var(--primary);
      border: none;
      border-radius: 10px;

      color: var(--primary);
      font-size: 1.4em;

      padding: 0;
    }
  }
}
