.tab-bpm-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--light-gray);

  & > p {
    margin: 0;
    padding: 0;

    color: var(--text);
    font-size: 2em;
  }

  .bpm-controller-container {
    margin: 30px;
    input {
      font-size: 5em;
      height: 100%;
    }
  }

  & > div {
    height: 100%;
    position: relative;
    .tab-bpm-button {
      padding: 15px 30px;

      background-color: var(--primary);
      color: var(--text);
      border: none;
      border-radius: 20px;

      font-size: 2em;
    }

    .icon-button {
      $icon-width: 50px;
      position: absolute;

      left: 0;
      bottom: -$icon-width - 15px;

      width: 100%;
      height: $icon-width;

      fill: var(--text);

      border-radius: 50%;

      transform: rotateY(180deg);
    }
  }
}
