$dark: #2c2c2c; //#080705;
$blue: #1292e8;

$dark: rgba(22, 22, 22, 1);
$light: rgba(196, 196, 196, 1);

$light-gray: rgba(57, 57, 57, 1);
$light-gray-2: rgba(156, 156, 156, 1);
$dark-gray: rgba(98, 98, 98, 1);
$dark-gray-2: rgba(29, 29, 29, 1);

$green: rgba(34, 163, 23, 1);
$red: rgba(128, 29, 7, 1);
$orange: rgba(224, 94, 65, 1);
$text: white;
