@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "colors";
@import "values";
@import "fonts";

// importing animations
@import "./animations/focus";

* {
  color: $dark;
  font-family: Rubik;
  font-weight: 400;
  box-sizing: border-box;
  &:focus-within {
    outline: none;
  }
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: $dark;
  overflow: hidden;
}

#root {
  height: 100%;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  .btn {
    .material-icons {
      color: $blue;
      font-size: 30pt;
    }
    display: flex;
    align-items: center;
  }
}

.btn {
  margin: 0;
  padding: 5px 15px;

  background-color: transparent;
  color: $blue;
  box-shadow: none;
  // box-shadow: inset 0 0 5px darken($dark, 20);
  border: none;
  border-radius: $radius;

  font-weight: 500;
  font-size: 25pt;

  transition-duration: 300ms;
  &:hover {
    box-shadow: inset 0 0 5px darken($dark, 20);
    // background-color: darken($blue, 5);
  }
}

// button {
//   box-shadow: inset 0 0 5px darken($dark, 20);
// }

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
