@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "colors";
@import "values";
@import "fonts";

// importing animations
@import "./animations/focus";
@import "./animations/fade";

p,
button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

* {
  color: $dark;
  font-family: Rubik;
  font-weight: 400;
  box-sizing: border-box;
  &:focus-within {
    outline: none;
  }
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: $dark;
  overflow: hidden;
}

#root {
  height: 100%;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-button {
  cursor: pointer;
  &:focus-within {
    box-shadow: 0 0 1px 1px $orange;
  }
}
