@import "../colors";
@import "../values";

.metronome-container {
  width: 100%;
  .metronome-child-container {
    border-radius: 20px;
    transition: transform ease 300ms, background-color ease 300ms;
    &:hover {
      transform: scale(1.02);
    }
  }
  .bottom-container {
    display: flex;
    align-items: center;
    height: 150px;
  }
}

.metronome-container-focused {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  // padding: 10px;

  background-color: $light-gray;
  border-radius: 20px;

  .exit-focus-button {
    position: absolute;
    left: 20px;
    top: 20px;

    background-color: $orange;
    border: none;
    border-radius: 50%;

    width: 55px;
    height: 55px;

    color: $text;
    font-size: 2.3em;

    transition: all ease 300ms;
    &:hover {
      background-color: darken($color: $orange, $amount: 5);
      transform: scale(1.1);
    }
  }
}

@keyframes ScaleIn {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ScaleOut {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.power-button {
  width: 80px;
  height: 80px;
  fill: $dark-gray;
  background-color: $light-gray-2;
  border: 10px solid $light;
  border-radius: 50%;
  padding: 0;
}
.power-button-on {
  background-color: $orange;
  fill: $light;
}
