$timeout: 300ms;

.focus-enter {
  opacity: 0;
  transform: scale(1.2) translateY(-20%);
}

.focus-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity ease $timeout, transform ease $timeout;
}
.focus-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.focus-exit-active {
  opacity: 0;
  transform: scale(0.8) translateY(50%);
  transition: opacity ease $timeout, transform ease $timeout;
}
// .focus-enter {
//   opacity: 0;
//   transform: scale(0.8) translateY(-20%);
// }

// .focus-enter-active {
//   opacity: 1;
//   transform: scale(1) translateY(0);
//   transition: opacity ease $timeout, transform ease $timeout;
// }
// .focus-exit {
//   opacity: 1;
//   transform: scale(1) translateY(0);
// }

// .focus-exit-active {
//   opacity: 0;
//   transform: scale(0.8) translateY(20%);
//   transition: opacity ease $timeout, transform ease $timeout;
// }
