@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
}

body {
  width: 60%;
  margin: 5rem auto;
  background-color: $orange;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: 60rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #logo {
    height: 20rem;
  }

  h1,
  h2 {
    text-align: center;
  }
  h1 {
    margin-bottom: 0.4rem;
  }
  h2 {
    padding: 0 15rem;
  }
  h3 {
    margin: 0.8rem 0;
  }
}

.features {
  & > div,
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h2 {
    font-size: 6rem;
    margin: 0.8rem 0 3.5rem 0;
  }
  p {
    font-size: 3.4rem;
  }
  #sound-preset {
    height: 30rem;
    margin: 2rem 0;
  }
  #oss {
    p {
      text-align: center;
    }
    p:last-child {
      margin: 3rem 0;
    }
  }
}

#privacy-policy {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;

  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

#github-link {
  font-size: 2.7rem;
  a {
    color: black;
    text-decoration: none;
    font-weight: 700;

    border-bottom: 3px solid black;
  }
}
